<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <link rel="stylesheet" href="./src/root-styles.css" />
    <link rel="stylesheet" href="./src/css/text-only-card.css" />
    <link rel="stylesheet" href="./src/css/text-overlay-card.css" />
    <meta charset="UTF-8" />
  </head>

  <body>
    <h1 class="rdc-card-type-heading">
      Basic Text Only Cards
    </h1>
    <div class="rdc-cards--container">
      <article class="rdc-cards">
        <header class="rdc-card--header">
          <h3>HTML</h3>
        </header>
        <p class="rdc-card--content">
          The HyperText Markup Language, or HTML is the standard markup language
          for documents designed to be displayed in a web browser. It can be
          assisted by technologies such as Cascading Style Sheets and scripting
          languages such as JavaScript.
        </p>
        <footer class="rdc-card--footer">
          <div class="rdc-card--footer-left">
            <button class="rdc-card--footer-btn" title="Read">
              <img
                src="./src/images/footer/read-more.png"
                class="rdc-card--footer-icons"
              />
            </button>
          </div>
          <div class="rdc-card--footer-right">
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/like.png"
                class="rdc-card--footer-icons"
                alt="Like"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/share.png"
                class="rdc-card--footer-icons"
                alt="Share"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/bookmark-unsaved.png"
                class="rdc-card--footer-icons"
                alt="Save"
              />
            </button>
          </div>
        </footer>
      </article>

      <article class="rdc-cards">
        <header class="rdc-card--header">
          <h3>HTML2</h3>
        </header>
        <p class="rdc-card--content">
          The HyperText Markup Language, or HTML is the standard markup language
          for documents designed to be displayed in a web browser. It can be
          assisted by technologies such as Cascading Style Sheets and scripting
          languages such as JavaScript.
        </p>
        <footer class="rdc-card--footer">
          <div class="rdc-card--footer-left">
            <button class="rdc-card--footer-btn" title="Read">
              <img
                src="./src/images/footer/read-more.png"
                class="rdc-card--footer-icons"
              />
            </button>
          </div>
          <div class="rdc-card--footer-right">
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/like.png"
                class="rdc-card--footer-icons"
                alt="Like"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/share.png"
                class="rdc-card--footer-icons"
                alt="Share"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/bookmark-unsaved.png"
                class="rdc-card--footer-icons"
                alt="Save"
              />
            </button>
          </div>
        </footer>
      </article>

      <article class="rdc-cards">
        <header class="rdc-card--header">
          <h3>HTML3</h3>
        </header>
        <p class="rdc-card--content">
          The HyperText Markup Language, or HTML is the standard markup language
          for documents designed to be displayed in a web browser. It can be
          assisted by technologies such as Cascading Style Sheets and scripting
          languages such as JavaScript.
        </p>
        <footer class="rdc-card--footer">
          <div class="rdc-card--footer-left">
            <button class="rdc-card--footer-btn" title="Read">
              <img
                src="./src/images/footer/read-more.png"
                class="rdc-card--footer-icons"
              />
            </button>
          </div>
          <div class="rdc-card--footer-right">
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/like.png"
                class="rdc-card--footer-icons"
                alt="Like"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/share.png"
                class="rdc-card--footer-icons"
                alt="Share"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/bookmark-unsaved.png"
                class="rdc-card--footer-icons"
                alt="Save"
              />
            </button>
          </div>
        </footer>
      </article>
    </div>

    <h1 class="rdc-card-type-heading">
      Text Overlay Cards
    </h1>
    <div class="rdc-cards--container">
      <article class="rdc-cards--text-overlay">
        <header class="rdc-card--header--text-overlay">
          <img
            srcset="./src/images/header/cover.jpg"
            src="./src/images/header/cover.jpg"
            alt="Cover Image"
            class="rdc-card--header-cover-image"
          />
          <section class="rdc-card--header-heading">
            <h3>Title</h3>
            <sub>by Shreyas Soni</sub>
          </section>
        </header>
        <p class="rdc-card--content--text-overlay">
          Here is the content for the card
        </p>
        <footer class="rdc-card--footer">
          <div class="rdc-card--footer-left">
            <button class="rdc-card--footer-btn" title="Read">
              <img
                src="./src/images/footer/read-more.png"
                class="rdc-card--footer-icons"
              />
            </button>
          </div>
          <div class="rdc-card--footer-right">
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/like.png"
                class="rdc-card--footer-icons"
                alt="Like"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/share.png"
                class="rdc-card--footer-icons"
                alt="Share"
              />
            </button>
            <button class="rdc-card--footer-btn" title="Like">
              <img
                src="./src/images/footer/bookmark-unsaved.png"
                class="rdc-card--footer-icons"
                alt="Save"
              />
            </button>
          </div>
        </footer>
      </article>
    </div>
    <script src="src/index.js"></script>
  </body>
</html>
